html
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body
{
    margin: 0;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px 0;
}

#brand
{
    font-size: 3rem;
}

.nav-links li
{
list-style-type: none;
}

a
{
    text-decoration: none;
    color: black;
}

.nav-link
{
    font-size: 2rem;
}

button
{
    font-size: 2rem;
    padding: 10px;
    border: none;
    border-radius: 5px;
    border: 3.5px solid #172554;
    color: #172554;
    font-weight: bold;
    background-color: white;
}

#home-create-btn
{
    background-color: #172554;
    box-shadow: 6px 5px 0px #6dd1cf;
    color: white;
    padding: 10px 50px;
}

header,
.wrapper
{
    margin: 0px 10px;
}

.nav-links
{
    display: flex;
    align-items: center;
    gap: 20px;
}

.wrapper
{
    border: 2px black solid;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.home-message
{
    font-size: 2rem;
    text-align: center;
}
#home-create-btn
{
    width: 100%;

    border: none;
}

#users-recipes
{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px;
    padding: 20px;
    justify-content: center;
}
.recipe-container
{
    border: 2px black solid;
    width: 25%;
    max-width: 500px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    padding: 10px 10px;
    
}

.sample-recipe-name
{
font-size: 1.5rem;
height: 58px;
text-align: center;
display: flex;
align-items: center;
}

#recipe-creation-form
{
    background-color: rgb(255, 255, 255);
    border: #172554 4px solid;
    padding: 10px;
    border-radius: 8px;
    max-height: 85vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}

#recipe-creation-form label
{
    font-size: 2rem;
}

#recipe-creation-form input
{
    padding: 8px 0;
    border: #172554 3px solid;
    border-radius: 5px;
    font-size: 1.75rem;
}

#recipe-creation-form button
{
    padding: 10px;
}

#ingredentList, 
#directionsList
{
    border: 2px black solid;
    height: 200px;
    overflow: scroll;
}

.direction-list-item,
.ingredient-list-item
{
font-size: 2rem;
}

.test
{
    display: none;
}


@media (max-width: 768px) { 
    nav
    {
        flex-direction: column;
    }

    .nav-link
    {
    font-size: 1.75rem;
    }

    button
    {
        font-size: 1.75rem;
        padding: 5px;
        border: 3.5px solid #172554;
    }
}

@media (max-width: 420px) {
    .nav-link
    {
    font-size: 1.5rem;
    }
}