body
{
    margin: 0;
    padding: 0;
    font-size: 10px;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#brand
{
    font-size: 2rem;
}

.nav-links li
{
list-style-type: none;
}

a
{
    text-decoration: none;
    color: black;
}

.nav-link
{
    font-size: 1.2rem;
}

header,
.wrapper
{
    margin: 0px 10px;
}

.nav-links
{
    display: flex;
    gap: 20px;
}

.wrapper
{
    border: 2px black solid;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home-message
{
    font-size: 1.2rem;
}
#home-create-btn
{
    width: 100%;
    padding: 10px;
    border: none;
}

#users-recipes
{
    min-height: 90vh;
    width: 100%;

    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
.recipe-container
{
    border: 2px black solid;
    width: 25%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sample-recipe-name
{
font-size: 1.5rem;
}

#recipe-creation-form
{
    background-color: rgb(243, 176, 130);
    padding: 10px;
    border-radius: 8px;
    max-height: 85vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}

#recipe-creation-form label
{
    font-size: 1.2rem;
}

#recipe-creation-form input
{
    padding: 8px 0;
    border: none;
    border-radius: 5px;
}

#recipe-creation-form button
{
    padding: 10px;
}

#ingredentList, 
#directionsList
{
    border: 2px black solid;
    height: 200px;
    overflow: scroll;
}

.direction-list-item,
.ingredient-list-item
{
font-size: 1.2rem;
}

.test
{
    display: none;
}